@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron" style="">
    <h1>Sacrament </br> Meeting Planner</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to THE Sacrament Meeting Planner</h2>
        <p>
            We wanted to make planning sacrament meetings
            and keeping track of old sacrament meetings EASY
            for everyone. Feel free to use the app and see the
            difference!
        </p>
        <p><a asp-page="/Planner/Index" class="btn btn-primary">Start planning now</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pray for Inspiration</h2>
        <p>Not sure who should pray or talk? Be sure to seek inspiration</p>
  
    </div>
    <div class="col-md-4">
        <h2>Why Remember?</h2>
        <p>It's good to look back at past sacrament meetings to know who has spoke, who hasn't
        spoken in a while, and who spoke the sunday you recieved an answer to your prayers. </p>
        <p>
            <a asp-page="/Planner/Index">
               See Past Sacrament Meetings &raquo;
            </a>
        </p>
    </div>
</div>