@import url('https://fonts.googleapis.com/css?family=Crimson+Text|PT+Sans');
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'PT Sans', sans-serif !important;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif !important;
}

.navbar-inverse {
    // background-color: #BCAB79;
    //border-color: #BCAB79;
    background-color: #BDC4A7;
    border-color: #BDC4A7;
}
.navbar-inverse .navbar-brand {
        color: #fff;

    }

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.jumbotron h1 {
    width: 60%;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.72);
}

.jumbotron {
    background-image: url(../images/chapel2.jpg) !important;
    background-position: 0% 30%;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 180px;
}

tr:nth-child(odd) {
    //background: #c8d9d3;
    background: #dee8e4;
}

tr.table_head {
    background: #fff;
}
th {
    border-top: 1px solid #000;
    border-top: 1px solid #000;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.form-horizontal .form-group {
    margin-left: 0px;
}

button#btnAddField {
    margin-top: 25px;
}